**1, Import pandas as pd and create a new DataFrame with three columns and three rows.**

In [1]:
import pandas as pd

In [2]:
pd.DataFrame

pandas.core.frame.DataFrame

In [3]:
x = [{'Mathematics':75,'Science':84,'English':87},{'Mathematics':79,'Science':74,'English':100},{'Mathematics':91,'Science':54,'English':70}]

In [4]:
df = pd.DataFrame(x)
df

   Mathematics  Science  English
0           75       84       87
1           79       74      100
2           91       54       70

**2, View the head of the DataFrame**

In [5]:
df.head()

   Mathematics  Science  English
0           75       84       87
1           79       74      100
2           91       54       70

**3, View the index of the DataFrame**

In [6]:
df.index

RangeIndex(start=0, stop=3, step=1)

**4, Select and view the first column of the DataFrame**

In [7]:
df['Mathematics']

0    75
1    79
2    91
Name: Mathematics, dtype: int64

**5, Select and view the first row of the DataFrame**

In [8]:
df.iloc[0]

Mathematics    75
Science        84
English        87
Name: 0, dtype: int64

**6,Write the DataFrame to a new CSV file saved in your assignment folder**

In [9]:
df_2 = df
df_2

   Mathematics  Science  English
0           75       84       87
1           79       74      100
2           91       54       70

In [10]:
df_2.shape

(3, 3)

In [11]:
df_2.to_csv('subset_df_example_data.csv')

In [12]:
ls

Kudeshia_SystemsCheck.ipynb
Pandas Interactive Data - 01 - 29 - 24.ipynb
Untitled.ipynb
Untitled1.ipynb
cces_example_data.csv
subset_cces_example_data.csv
subset_df_example_data.csv

**7,Why are dynamic, interactive data visualizations useful when communicating data?**

Dynamic, interactive data visualizations serve as a highly effective tool for data communication. These representations enable users to explore and manipulate data, presenting large quantities of information compactly and accessibly. They allow the examination and refinement of data interrelationships, transforming complex information into an approachable format. This interactive approach enhances user engagement and provides a more enlightening experience compared to static data presentations.